<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="d-flex flex-column" style="min-height: 100vh; background-image: url('../public/images/grey-image.jpg'); background-size: cover;">
    <%- include("./partials/header.ejs") %>
    <div class="px-4 py-0 my-0 text-center" style="flex:1;">
        <!-- <img class="d-block mx-auto mb-4 profile" src="./assets/images/vaggospetr.jpg" alt="vaggospetr" height="200px"> -->
        <h1 class="text-center display-4 pb-3">About Vaggospetr Blog &#128512;</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Welcome to Vaggospetr Blog, your digital sanctuary for all things inspiring, insightful, and innovative. Founded by [Your Name or Alias], this platform serves as a haven for curious minds and passionate souls seeking a blend of thought-provoking content, personal narratives, and expert perspectives. <br/><br/>

            At Vaggospetr Blog, we embark on a journey of exploration across various domains, including technology, science, art, philosophy, and beyond. Through engaging articles, captivating stories, and thoughtfully curated resources, we aim to spark conversations, ignite creativity, and foster a community of like-minded individuals driven by a thirst for knowledge and a hunger for meaningful experiences. <br/><br/>
            
            Whether you're a seasoned aficionado or a curious novice, join us as we delve into the depths of human ingenuity, unravel the mysteries of the universe, and celebrate the beauty of diversity in thought and expression. Together, let's embark on a voyage of discovery and enlightenment, one blog post at a time.</p>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>