h1 {
    text-transform: uppercase;
}

body {
    background-color: black;
}

.divclass {
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

.imgclass {
    border: 5px solid white;
    width: 100%;
}

