<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Vaggospetr Blog</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="btn btn-dark me-2 rounded" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/create" class="btn btn-outline-dark me-2 rounded">Create Post</a></li>
        <li class="nav-item"><a href="/about" class="btn btn-outline-dark me-2 rounded">About</a></li>
      </ul>
    </header>
  </div>